Connected to project (Python 3.12.0)

Restarted project (Python 3.12.0)

In [1]:
%load_ext autoreload
%autoreload 1

In [2]:
#!/usr/bin/env python3

import os
import time
import json
import threading
import configparser
import datetime
import random
%aimport schema_scanner
%aimport query_generator
%aimport query_mutator_sequential
%aimport query_generator_subqueries_with_graph
%aimport testing


#!/usr/bin/env python3

import os
import time
import json
import threading
import configparser
import datetime

from schema_scanner import *
from query_generator import *
from query_mutator_sequential import *
from query_generator_subqueries_with_graph import *

import graph_tool.all as gt
from testing import *

In [3]:

if __name__ == "__main__":
    print("=====GraphGenie=====")
    config = configparser.ConfigParser()
    config.read('graphgenie.ini')
    graphdb = config['default']['graphdb']
    language = config['default']['language']
    ip = config['default']['ip']
    port = int(config['default']['port'])
    username = config['default']['username']
    password = config['default']['password']

    
    from neo4j import GraphDatabase
    test = Neo4jTesting()
    graph_full = gt.Graph(directed=True)



    schema_scanner = Neo4jSchemaScanner(ip, port, username, password)
    node_labels, edge_labels, node_properties, connectivity_matrix, properties_types,graph_full = schema_scanner.scan(graph_full)

=====GraphGenie=====
***** Testing Neo4j *****

	multi_threading=1

	variant=1

Node count: 28863
Edge count: 332522
Node labels: ['Actor', 'Director', 'Genre', 'Movie', 'Person', 'User']
Edge labels: ['ACTED_IN', 'DIRECTED', 'IN_GENRE', 'RATED']
each_node_label: ['Actor', 'Director', 'Genre', 'Movie', 'Person', 'User']
properties_types:{'bornIn': 'STRING NOT NULL', 'id': 'INTEGER NOT NULL', 'born': 'DATE NOT NULL', 'died': 'DATE NOT NULL', 'tmdbId': 'STRING NOT NULL', 'imdbId': 'STRING NOT NULL', 'name': 'STRING NOT NULL', 'url': 'STRING NOT NULL', 'bio': 'STRING NOT NULL', 'poster': 'STRING NOT NULL', 'runtime': 'INTEGER NOT NULL', 'revenue': 'INTEGER NOT NULL', 'budget': 'INTEGER NOT NULL', 'imdbRating': 'FLOAT NOT NULL', 'released': 'STRING NOT NULL', 'countries': 'LIST<STRING NOT NULL> NOT NULL', 'languages': 'LIST<STRING NOT NULL> NOT NULL', 'plot': 'STRING NOT NULL', 'imdbVotes': 'INTEGER NOT NULL', 'year': 'INTEGER NOT NULL', 'movieId': 'STRING NOT NULL', 'title': 'STRING NOT NULL', 'userId': 'STRING NOT NULL'}
A D G M P U
0 0 0 1 0 0
0 0 0 1 0 0
0 0 0 0 0 0
0 0 1 0 0 0
0 0 0 1 0 0
0 0 0 1 0 0
===FILLING GRAPH (Can take a while)===
Setting ids to each node
Gather list of all ids
all_ids [{'n.id': 33879}, {'n.id': 33878}, {'n.id': 33877}, {'n.id': 33876}, {'n.id': 33875}]

100%|██████████| 28863/28863 [00:00<00:00, 789401.18it/s]

Querying vertices and edges (Can take a while))
Adding vertices and edges (with their properties) (Can take a while))

100%|██████████| 166261/166261 [00:01<00:00, 128211.81it/s]

Graph filled
===============

In [4]:
# print("CONNECTIVITY MATRIX:",connectivity_matrix);
random_cypher_generator = RandomCypherGenerator_subqueries_with_graph(node_labels, edge_labels, node_properties, connectivity_matrix,properties_types,graph_full)
cypher_query_mutator = CypherQueryMutatorSequential(node_labels, edge_labels, node_properties, connectivity_matrix, graph_full)

INIT:['Actor', 'Director', 'Genre', 'Movie', 'Person', 'User'], edge_labels['ACTED_IN', 'DIRECTED', 'IN_GENRE', 'RATED'],connectivity_matrix[[0, 0, 0, 1, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 1, 0, 0]],property_types_dict{'bornIn': 'STRING NOT NULL', 'id': 'INTEGER NOT NULL', 'born': 'DATE NOT NULL', 'died': 'DATE NOT NULL', 'tmdbId': 'STRING NOT NULL', 'imdbId': 'STRING NOT NULL', 'name': 'STRING NOT NULL', 'url': 'STRING NOT NULL', 'bio': 'STRING NOT NULL', 'poster': 'STRING NOT NULL', 'runtime': 'INTEGER NOT NULL', 'revenue': 'INTEGER NOT NULL', 'budget': 'INTEGER NOT NULL', 'imdbRating': 'FLOAT NOT NULL', 'released': 'STRING NOT NULL', 'countries': 'LIST<STRING NOT NULL> NOT NULL', 'languages': 'LIST<STRING NOT NULL> NOT NULL', 'plot': 'STRING NOT NULL', 'imdbVotes': 'INTEGER NOT NULL', 'year': 'INTEGER NOT NULL', 'movieId': 'STRING NOT NULL', 'title': 'STRING NOT NULL', 'userId': 'STRING NOT NULL'},

In [5]:
test.current_rules_eval = [0, 0, 0]
test.executed_allquery = 0
test.executed_query_num = 0
test.executed_base_query_num = 0
test.detected_bug_num = 0

In [6]:
base_query = random_cypher_generator.random_query_generator()
base_query_result, base_query_time = test.execute_ret_result_time(query=base_query, log_str="[BASE QUERY]")
print(base_query)
print(base_query_result)

COULD NOT FIND A PATH
COULD NOT FIND A PATH
COULD NOT FIND A PATH
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (id112:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id112.id = 112 ) AND ( id16.id = 16 ) AND EXISTS { MATCH (id26567:Person)-[:ACTED_IN]->(id8163:Movie)-[:IN_GENRE]->(id9:Genre) WHERE ( id26567.id = 26567 ) AND ( id8163.id = 8163 ) AND ( id9.id = 9 ) AND EXISTS { MATCH (id2921:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id2921.id = 2921 ) AND ( id16.id = 16 ) AND EXISTS { (id4857:Movie)-[:IN_GENRE]->(id37:Genre) WHERE ( id4857.id = 4857 ) AND ( id37.id = 37 ) } } } RETURN id112 ORDER BY NULL SKIP 0 LIMIT 1
 Queried data: [{'id112': {'languages': ['English', ' Spanish'], 'year': 1996, 'imdbId': '0118040', 'runtime': 117, 'imdbRating': 6.0, 'movieId': '103', 'countries': ['USA'], 'imdbVotes': 3834, 'title': 'Unforgettable', 'url': 'https://themoviedb.org/movie/2045', 'tmdbId': '2045', 'plot': "Unsuccessfully framed for his wife's murder, Dr. David Krane attempts to find the real culprit by utilizing a new drug that allows him to experience the memories of other people first-hand....", 'id': 112, 'poster': 'https://image.tmdb.org/t/p/w440_and_h660_face/500Ne3EDn3HHpuCQWwGKR74r0cB.jpg', 'released': '1996-02-23', 'budget': 18000000}}]
No.1 [BASE QUERY] Query="MATCH (id112:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id112.id = 112 ) AND ( id16.id = 16 ) AND EXISTS { MATCH (id26567:Person)-[:ACTED_IN]->(id8163:Movie)-[:IN_GENRE]->(id9:Genre) WHERE ( id26567.id = 26567 ) AND ( id8163.id = 8163 ) AND ( id9.id = 9 ) AND EXISTS { MATCH (id2921:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id2921.id = 2921 ) AND ( id16.id = 16 ) AND EXISTS { (id4857:Movie)-[:IN_GENRE]->(id37:Genre) WHERE ( id4857.id = 4857 ) AND ( id37.id = 37 ) } } } RETURN id112 ORDER BY NULL SKIP 0 LIMIT 1"
	Query Result={'languages': ['English', ' Spanish'], 'year': 1996, 'imdbId': '0118040', 'runtime': 117, 'imdbRating': 6.0, 'movieId': '103', 'countries': ['USA'], 'imdbVotes': 3834, 'title': 'Unforgettable', 'url': 'https://themoviedb.org/movie/2045', 'tmdbId': '2045', 'plot': "Unsuccessfully framed for his wife's murder, Dr. David Krane attempts to find the real culprit by utilizing a new drug that allows him to experience the memories of other people first-hand....", 'id': 112, 'poster': 'https://image.tmdb.org/t/p/w440_and_h660_face/500Ne3EDn3HHpuCQWwGKR74r0cB.jpg', 'released': '1996-02-23', 'budget': 18000000}
	Query Time=108

MATCH (id112:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id112.id = 112 ) AND ( id16.id = 16 ) AND EXISTS { MATCH (id26567:Person)-[:ACTED_IN]->(id8163:Movie)-[:IN_GENRE]->(id9:Genre) WHERE ( id26567.id = 26567 ) AND ( id8163.id = 8163 ) AND ( id9.id = 9 ) AND EXISTS { MATCH (id2921:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id2921.id = 2921 ) AND ( id16.id = 16 ) AND EXISTS { (id4857:Movie)-[:IN_GENRE]->(id37:Genre) WHERE ( id4857.id = 4857 ) AND ( id37.id = 37 ) } } } RETURN id112 ORDER BY NULL SKIP 0 LIMIT 1
{'languages': ['English', ' Spanish'], 'year': 1996, 'imdbId': '0118040', 'runtime': 117, 'imdbRating': 6.0, 'movieId': '103', 'countries': ['USA'], 'imdbVotes': 3834, 'title': 'Unforgettable', 'url': 'https://themoviedb.org/movie/2045', 'tmdbId': '2045', 'plot': "Unsuccessfully framed for his wife's murder, Dr. David Krane attempts to find the real culprit by utilizing a new drug that allows him to experience the memories of other people first-hand....", 'id': 112, 'poster': 'https://image.tmdb.org/t/p/w440_and_h660_face/500Ne3EDn3HHpuCQWwGKR74r0cB.jpg', 'released': '1996-02-23', 'budget': 18000000}

In [7]:
base_query = random_cypher_generator.random_query_generator()
print(base_query)

COULD NOT FIND A PATH
COULD NOT FIND A PATH
COULD NOT FIND A PATH
MATCH (id26948:Actor)-[:ACTED_IN]->(id8368:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id26948.id = 26948 ) AND ( id8368.id = 8368 ) AND ( id16.id = 16 ) AND EXISTS { MATCH (id3806:Movie)-[:IN_GENRE]->(id63:Genre) WHERE ( id3806.id = 3806 ) AND ( id63.id = 63 ) AND EXISTS { MATCH (id12578:Person)-[:ACTED_IN]->(id804:Movie)-[:IN_GENRE]->(id16:Genre) WHERE ( id12578.id = 12578 ) AND ( id804.id = 804 ) AND ( id16.id = 16 ) AND EXISTS { MATCH (id6981:Movie)-[:IN_GENRE]->(id4:Genre) WHERE ( id6981.id = 6981 ) AND ( id4.id = 4 ) AND EXISTS { MATCH (id21307:Actor)-[:ACTED_IN]->(id3866:Movie)-[:IN_GENRE]->(id14:Genre) WHERE ( id21307.id = 21307 ) AND ( id3866.id = 3866 ) AND ( id14.id = 14 ) AND EXISTS { (id4457:Movie)-[:IN_GENRE]->(id9:Genre) WHERE ( id4457.id = 4457 ) AND ( id9.id = 9 ) } } } } } RETURN id8368   LIMIT 1

In [8]:
cypher_query_mutator.views_ids = []

In [9]:
base_query = 'MATCH (id32579:Actor)-[:ACTED_IN]->(id4227:Movie)-[:IN_GENRE]->(id13:Genre) WHERE ( id32579.id = 32579 ) AND ( id4227.id = 4227 ) AND ( id13.id = 13 ) AND EXISTS { OPTIONAL MATCH (id1820:Movie)-[:IN_GENRE]->(id13:Genre) WHERE ( id1820.id = 1820 ) AND ( id13.id = 13 ) AND EXISTS { OPTIONAL MATCH (id17332:Person)-[:ACTED_IN]->(id5882:Movie)-[:IN_GENRE]->(id49:Genre) WHERE ( id17332.id = 17332 ) AND ( id5882.id = 5882 ) AND ( id49.id = 49 ) AND EXISTS { (id12688:Actor)-[:ACTED_IN]->(id3905:Movie)-[:IN_GENRE]->(id33:Genre) WHERE ( id12688.id = 12688 ) AND ( id3905.id = 3905 ) AND ( id33.id = 33 ) } } } RETURN id4227  SKIP 0 LIMIT 5'

In [10]:
base_query = random_cypher_generator.random_query_generator()
print(base_query)

COULD NOT FIND A PATH
MATCH (id20558:Person)-[:ACTED_IN]->(id2334:Movie)-[:IN_GENRE]->(id13:Genre) WHERE ( id20558.id = 20558 ) AND ( id2334.id = 2334 ) AND ( id13.id = 13 ) AND EXISTS { MATCH (id17488:Actor)-[:ACTED_IN]->(id3141:Movie)-[:IN_GENRE]->(id63:Genre) WHERE ( id17488.id = 17488 ) AND ( id3141.id = 3141 ) AND ( id63.id = 63 ) AND EXISTS { MATCH (id1368:Movie)-[:IN_GENRE]->(id4:Genre) WHERE ( id1368.id = 1368 ) AND ( id4.id = 4 ) AND EXISTS { MATCH (id32235:Person)-[:DIRECTED]->(id8895:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id32235.id = 32235 ) AND ( id8895.id = 8895 ) AND ( id10.id = 10 ) AND EXISTS { MATCH (id9894:Person)-[:ACTED_IN]->(id3013:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id9894.id = 9894 ) AND ( id3013.id = 3013 ) AND ( id10.id = 10 ) AND EXISTS { (id15308:Actor)-[:ACTED_IN]->(id3428:Movie)-[:IN_GENRE]->(id4:Genre) WHERE ( id15308.id = 15308 ) AND ( id3428.id = 3428 ) AND ( id4.id = 4 ) } } } } } RETURN DISTINCT id20558 ORDER BY NULL SKIP 0 LIMIT 3

In [11]:
# this_level_query,subquery = cypher_query_mutator.parse_subquerie(base_query)
# print(base_query)
# print()
# print(this_level_query)
# print()
# print(subquery)

In [12]:
cypher_query_mutator.get_all_transactions(base_query)

AttributeError: 'CypherQueryMutatorSequential' object has no attribute 'get_all_transactions'

In [ ]:
cypher_query_mutator.get_all_transactions_delete()

['MATCH (view:view0) DETACH DELETE view',
 'MATCH (view:view1) DETACH DELETE view',
 'MATCH (view:view2) DETACH DELETE view',
 'MATCH (view:view3) DETACH DELETE view']

In [28]:
test.testing(random_cypher_generator, cypher_query_mutator)

1 round testing
0 executed. Rules evaluation statitics: [0, 0, 0]

COULD NOT FIND A PATH
number of tested base queries: 0

number of detected inconsistent pair: 0

=================================

No.1 Base Query: MATCH (id4128:Movie)-[:IN_GENRE]->(id49:Genre) WHERE ( id4128.id = 4128 ) AND ( id49.id = 49 ) AND EXISTS { MATCH (id28871:Director)-[:DIRECTED]->(id4304:Movie)-[:IN_GENRE]->(id23:Genre) WHERE ( id28871.id = 28871 ) AND ( id4304.id = 4304 ) AND ( id23.id = 23 ) AND EXISTS { MATCH (id27049:Actor)-[:ACTED_IN]->(id8747:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id27049.id = 27049 ) AND ( id8747.id = 8747 ) AND ( id10.id = 10 ) AND EXISTS { MATCH (id26785:Person)-[:ACTED_IN]->(id8981:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id26785.id = 26785 ) AND ( id8981.id = 8981 ) AND ( id10.id = 10 ) AND EXISTS { (id13779:Person)-[:ACTED_IN]->(id546:Movie)-[:IN_GENRE]->(id2:Genre) WHERE ( id13779.id = 13779 ) AND ( id546.id = 546 ) AND ( id2.id = 2 ) } } } } RETURN id49 ORDER BY NULL SKIP 0 LIMIT 2

Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (id4128:Movie)-[:IN_GENRE]->(id49:Genre) WHERE ( id4128.id = 4128 ) AND ( id49.id = 49 ) AND EXISTS { MATCH (id28871:Director)-[:DIRECTED]->(id4304:Movie)-[:IN_GENRE]->(id23:Genre) WHERE ( id28871.id = 28871 ) AND ( id4304.id = 4304 ) AND ( id23.id = 23 ) AND EXISTS { MATCH (id27049:Actor)-[:ACTED_IN]->(id8747:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id27049.id = 27049 ) AND ( id8747.id = 8747 ) AND ( id10.id = 10 ) AND EXISTS { MATCH (id26785:Person)-[:ACTED_IN]->(id8981:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id26785.id = 26785 ) AND ( id8981.id = 8981 ) AND ( id10.id = 10 ) AND EXISTS { (id13779:Person)-[:ACTED_IN]->(id546:Movie)-[:IN_GENRE]->(id2:Genre) WHERE ( id13779.id = 13779 ) AND ( id546.id = 546 ) AND ( id2.id = 2 ) } } } } RETURN id49 ORDER BY NULL SKIP 0 LIMIT 2
 Queried data: [{'id49': {'name': 'Documentary', 'id': 49}}, {'id49': {'name': 'Documentary', 'id': 49}}]
No.1 [BASE QUERY] Query="MATCH (id4128:Movie)-[:IN_GENRE]->(id49:Genre) WHERE ( id4128.id = 4128 ) AND ( id49.id = 49 ) AND EXISTS { MATCH (id28871:Director)-[:DIRECTED]->(id4304:Movie)-[:IN_GENRE]->(id23:Genre) WHERE ( id28871.id = 28871 ) AND ( id4304.id = 4304 ) AND ( id23.id = 23 ) AND EXISTS { MATCH (id27049:Actor)-[:ACTED_IN]->(id8747:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id27049.id = 27049 ) AND ( id8747.id = 8747 ) AND ( id10.id = 10 ) AND EXISTS { MATCH (id26785:Person)-[:ACTED_IN]->(id8981:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id26785.id = 26785 ) AND ( id8981.id = 8981 ) AND ( id10.id = 10 ) AND EXISTS { (id13779:Person)-[:ACTED_IN]->(id546:Movie)-[:IN_GENRE]->(id2:Genre) WHERE ( id13779.id = 13779 ) AND ( id546.id = 546 ) AND ( id2.id = 2 ) } } } } RETURN id49 ORDER BY NULL SKIP 0 LIMIT 2"
	Query Result={'name': 'Documentary', 'id': 49}
	Query Time=129

Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (id4128:Movie)-[:IN_GENRE]->(id49:Genre) WHERE ( id4128.id = 4128 ) AND ( id49.id = 49 )
 CREATE (view0:view0)-[:contains]->(id4128)-[:IN_GENRE]->(id49)

Query:MATCH (id4128:Movie)-[:IN_GENRE]->(id49:Genre) WHERE ( id4128.id = 4128 ) AND ( id49.id = 49 )
 CREATE (view0:view0)-[:contains]->(id4128)-[:IN_GENRE]->(id49)
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view0)-[:contains]->() (()-[]->()){0,1000} (id28871:Director)-[:DIRECTED]->(id4304:Movie)-[:IN_GENRE]->(id23:Genre) WHERE ( id28871.id = 28871 ) AND ( id4304.id = 4304 ) AND ( id23.id = 23 )
 CREATE (view1:view1)-[:contains]->(id28871)-[:DIRECTED]->(id4304)-[:IN_GENRE]->(id23)

Query:MATCH (view0)-[:contains]->() (()-[]->()){0,1000} (id28871:Director)-[:DIRECTED]->(id4304:Movie)-[:IN_GENRE]->(id23:Genre) WHERE ( id28871.id = 28871 ) AND ( id4304.id = 4304 ) AND ( id23.id = 23 )
 CREATE (view1:view1)-[:contains]->(id28871)-[:DIRECTED]->(id4304)-[:IN_GENRE]->(id23)
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view1)-[:contains]->() (()-[]->()){0,1000} (id27049:Actor)-[:ACTED_IN]->(id8747:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id27049.id = 27049 ) AND ( id8747.id = 8747 ) AND ( id10.id = 10 )
 CREATE (view2:view2)-[:contains]->(id27049)-[:ACTED_IN]->(id8747)-[:IN_GENRE]->(id10)

Query:MATCH (view1)-[:contains]->() (()-[]->()){0,1000} (id27049:Actor)-[:ACTED_IN]->(id8747:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id27049.id = 27049 ) AND ( id8747.id = 8747 ) AND ( id10.id = 10 )
 CREATE (view2:view2)-[:contains]->(id27049)-[:ACTED_IN]->(id8747)-[:IN_GENRE]->(id10)
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view2)-[:contains]->() (()-[]->()){0,1000} (id26785:Person)-[:ACTED_IN]->(id8981:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id26785.id = 26785 ) AND ( id8981.id = 8981 ) AND ( id10.id = 10 )
 CREATE (view3:view3)-[:contains]->(id26785)-[:ACTED_IN]->(id8981)-[:IN_GENRE]->(id10)

Query:MATCH (view2)-[:contains]->() (()-[]->()){0,1000} (id26785:Person)-[:ACTED_IN]->(id8981:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id26785.id = 26785 ) AND ( id8981.id = 8981 ) AND ( id10.id = 10 )
 CREATE (view3:view3)-[:contains]->(id26785)-[:ACTED_IN]->(id8981)-[:IN_GENRE]->(id10)
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view3)-[:contains]->() (()-[]->()){0,1000}  (id13779:Person)-[:ACTED_IN]->(id546:Movie)-[:IN_GENRE]->(id2:Genre) WHERE ( id13779.id = 13779 ) AND ( id546.id = 546 ) AND ( id2.id = 2 )
 CREATE (view4:view4)-[:contains]->(id13779)-[:ACTED_IN]->(id546)-[:IN_GENRE]->(id2)

Query:MATCH (view3)-[:contains]->() (()-[]->()){0,1000}  (id13779:Person)-[:ACTED_IN]->(id546:Movie)-[:IN_GENRE]->(id2:Genre) WHERE ( id13779.id = 13779 ) AND ( id546.id = 546 ) AND ( id2.id = 2 )
 CREATE (view4:view4)-[:contains]->(id13779)-[:ACTED_IN]->(id546)-[:IN_GENRE]->(id2)
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]

Query:
Info:{code: Neo.ClientError.Statement.SyntaxError} {message: Unexpected end of input: expected CYPHER, EXPLAIN, PROFILE or Query (line 0, column 0 (offset: 1))
""
 ^}

Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view:view0) DETACH DELETE view

Query:MATCH (view:view0) DETACH DELETE view
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view:view1) DETACH DELETE view

Query:MATCH (view:view1) DETACH DELETE view
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view:view2) DETACH DELETE view

Query:MATCH (view:view2) DETACH DELETE view
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view:view3) DETACH DELETE view

Query:MATCH (view:view3) DETACH DELETE view
 Queried data: []
Query:CALL db.clearQueryCaches();
 Queried data: [{'value': 'Query cache already empty.'}]
Query:MATCH (view:view4) DETACH DELETE view

Query:MATCH (view:view4) DETACH DELETE view
 Queried data: []

In [33]:
base_query = random_cypher_generator.random_query_generator()
print(base_query)

MATCH (id15016:Actor)-[:ACTED_IN]->(id2520:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id15016.id = 15016 ) AND ( id2520.id = 2520 ) AND ( id10.id = 10 ) AND EXISTS { MATCH (id16186:Actor)-[:ACTED_IN]->(id950:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id16186.id = 16186 ) AND ( id950.id = 950 ) AND ( id10.id = 10 ) AND EXISTS { (id33731:Director)-[:DIRECTED]->(id7412:Movie)-[:IN_GENRE]->(id2:Genre) WHERE ( id33731.id = 33731 ) AND ( id7412.id = 7412 ) AND ( id2.id = 2 ) } } RETURN DISTINCT id10  SKIP 0

In [34]:
base_query = 'MATCH (id15016:Actor)-[:ACTED_IN]->(id2520:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id15016.id = 15016 ) AND ( id2520.id = 2520 ) AND ( id10.id = 10 ) AND EXISTS {     MATCH (id16186:Actor)-[:ACTED_IN]->(id950:Movie)-[:IN_GENRE]->(id10:Genre)     WHERE ( id16186.id = 16186 ) AND ( id950.id = 950 ) AND ( id10.id = 10 )  }         RETURN DISTINCT id10  SKIP 0 '

In [35]:
equivalent_queries_transactions_create,equivalent_queries_transaction_match,equivalent_queries_transactions_delete  = cypher_query_mutator.generate_equivalent_queries(base_query)

In [37]:
cypher_query_mutator.get_all_subqueries(base_query)

['MATCH (id15016:Actor)-[:ACTED_IN]->(id2520:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id15016.id = 15016 ) AND ( id2520.id = 2520 ) AND ( id10.id = 10 )  RETURN DISTINCT id10 SKIP 0 ',
 '  MATCH (id16186:Actor)-[:ACTED_IN]->(id950:Movie)-[:IN_GENRE]->(id10:Genre)  WHERE ( id16186.id = 16186 ) AND ( id950.id = 950 ) AND ( id10.id = 10 ) ']

In [36]:
equivalent_queries_transactions_create

['MATCH (id15016:Actor)-[:ACTED_IN]->(id2520:Movie)-[:IN_GENRE]->(id10:Genre) WHERE ( id15016.id = 15016 ) AND ( id2520.id = 2520 ) AND ( id10.id = 10 )   \n CREATE (view0:view0)-[:contains]->(id15016)-[:ACTED_IN]->(id2520)-[:IN_GENRE]->(id10)',
 'MATCH (view0)-[:contains]->() (()-[]->()){0,1000} (id16186:Actor)-[:ACTED_IN]->(id950:Movie)-[:IN_GENRE]->(id10:Genre)  WHERE ( id16186.id = 16186 ) AND ( id950.id = 950 ) AND ( id10.id = 10 )  \n CREATE (view1:view1)-[:contains]->(id16186)-[:ACTED_IN]->(id950)-[:IN_GENRE]->(id10)']

In [38]:
equivalent_queries_transaction_match

''

In [23]:
equivalent_queries_transactions_delete

['MATCH (view:view0) DETACH DELETE view',
 'MATCH (view:view1) DETACH DELETE view',
 'MATCH (view:view2) DETACH DELETE view',
 'MATCH (view:view3) DETACH DELETE view']